.eventfulFont {
  font-weight: bolder !important;
  background: linear-gradient(82.4deg, #f74e37 27.75%, #b43061 100.25%),
    linear-gradient(91.35deg, #ffffff 30.43%, #ffffff 122.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder !important;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../../assets/fonts/PlusJakartaSans.ttf');
}

.headerDivider {
  /* border-left: 1px solid #38546d; */
  border-right: 1px solid #e4e4e4;
  height: auto;
  position: absolute;
  right: 275px;
  top: 10px;
}

.header {
  /* background-color: #fdfdfd; */
  padding: 10px;
}
