.textbox-div {
  display: grid;
}

.upload-textbox-div div[class*='MuiOutlinedInput-root'] {
  padding-right: 0;
}

.textbox-label {
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 500 !important;
  color: #2f2f2f;
  padding-bottom: 4px;
}
